.master{ font-style: italic;
color: red;
}
img{
  width: 1000px;
  height: 800px;
}
.hobbies{
  font-style: italic;
  }
.centre{
  text-align: center;
}
body{
  font-family: sans-serif;
  background-color:#737373;
  text-align: center;
  }
.list{
  text-align: justify;
}
img{
  float: right;
}
