.master{ font-style: italic;
color: black;
}
img{
  width: 800px;
  height: 400px;
}
.hobbies{
  font-style: italic;
  }
.centre{
  text-align: center;
}
body{
  font-family: sans-serif;
  background-color:#737373;
  text-align: center;
  }
.list{
  text-align: justify;
}

.bird{
  padding: 6px
}
.nav{
  text-align: left;
}
